{% if tournamentsFuture|length == 0 %}
    <div class="content-section">
        <h3>None</h3>
    </div>
{% endif %}
{% if tournamentsFuture|length > 1 %}
    <div class="grid" id="tournGrid">
{% else %}
    <div class="grid" style="grid-template-columns: 1fr;">
{% endif %}
{% for tourn in tournamentsFuture %}
    <article>
        <hgroup>
            <h4><a href="{% url 'user-tourn-detail' tourn.id %}">{{ tourn.name }}</a></h4>
            <p>{{ tourn.date|date:"D, M dS Y" }} - {{ tourn.meetTime|date:"H:i" }}</p>
        </hgroup>
        <hr>
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#01aaff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor" />
            </svg>
            <span>
                {{ tourn.venue }}
            </span>
        </p>
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#01aaff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 2.66a1 1 0 0 0 -.993 .883l-.007 .117v5l.009 .131a1 1 0 0 0 .197 .477l.087 .1l3 3l.094 .082a1 1 0 0 0 1.226 0l.094 -.083l.083 -.094a1 1 0 0 0 0 -1.226l-.083 -.094l-2.707 -2.708v-4.585l-.007 -.117a1 1 0 0 0 -.993 -.883z" stroke-width="0" fill="currentColor" />
            </svg>
            <span>
                {{ tourn.startTime|date:"H:i" }}
            </span>
        </p>
        <hr>
        <div style="display:flex; justify-content: space-between; align-items: center;">
            <small id="{{ tourn.group }}">{{ tourn.group }}</small>
            <input type="checkbox" name="selected_tournaments" value="{{ tourn.id }}" style="margin:0;">
        </div>
    </article>
{% endfor %}
</div>