{% extends "base.html" %}
{% load static %}
{% block container %}
<style>    
    .board {
    width: 100%;
    }
    
    .lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
    margin-bottom: 20px;
    }
    
    .heading {
    margin-bottom: 8px;
    }
    
    .swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    background: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    
    padding: 12px;
    border-radius: 4px;
    width: auto;
    min-height: 120px;
    
    flex-shrink: 0;
    }
    
    .task {
    background: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    
    padding: 12px;
    border-radius: 4px;
    
    cursor: move;
    }
    
    .is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
    }

    #assignGrid {
        grid-template-columns: 5fr 1fr 1fr;
        grid-auto-flow: row
    }

    @media (width < 50em) {
        #assignGrid {
            grid-template-columns: 1fr;
            grid-auto-flow: row
        }
    }
</style>
<div id="box">
    <div class="grid">
        <h2>
            Schedule <a style="color: inherit; text-decoration: inherit;" href="{% url 'user-tourn-detail' tourn.id %}";>{{ tourn }}</a>
        </h2>
        <hgroup>
            <h4 style="text-align: center; margin-bottom:5px;">Step 1/4</h4>
            <progress value="25" max="100" />
        </hgroup>
    </div>
</div>
<br>
<div id="box">
    <h3>1. Drag and drop entries into divisions</h3>
    <hr>
    <div class="grid" id="assignGrid">
        <form>
            <fieldset role="group">
                <select name="divs" aria-label="Change number of divisions:" required>
                    <option selected disabled value="">
                        Change number of divisions:
                    </option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <input type="submit" value="Update">
            </fieldset>
        </form>
        <field><button onclick="autoAssign({{ tourn.id }})" class="secondary">Auto Assign</button></field>
        <field><button onclick="clearEntry({{ tourn.id }})" style="background-color: #AF291D; color: white;">Clear</button></field>
    </div>
    <hr>
    <div class="overflow-auto">
        <div class="lanes">
            <div class="swim-lane" style="background: #cae5fc;" id="0">
                <h4 class="heading">Unassigned</h4>

                {% for entry in unassigned %}
                <p class="task" draggable="true" id="{{ entry.id }}">{{ entry.teamName }}</p>
                {% endfor %}

            </div>

        {% for div in divs %}
            <div class="swim-lane" id="{{ forloop.counter }}">
                <h4 class="heading">Division {{ forloop.counter }}</h4>
                {% for entry in entries %}
                    {% if entry.division == forloop.parentloop.counter %}
                        <p class="task" draggable="true" id="{{ entry.id }}">{{ entry.teamName }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<hr>
<div class="grid">
    <a href="{% url 'schedule-create' tourn.id %}" role="button" style="width: 100%;">Next</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'js/dragdrop.js' %}"></script>

<script>
    function clearEntry(id){
        $.ajax({
            type: 'GET',
            url: `/entry-assign-clear/${id}/`,
            success: function(data){
                location.reload();
            },
            error: function(data){
                console.log('failure', data);
            }
        });
    }

    function autoAssign(id){
        $.ajax({
            type: 'GET',
            url: `/entry-assign-auto/${id}/`,
            success: function(data){
                // reload after server confirms completion
                location.reload();
            },
            error: function(data){
                console.log('failure', data);
            }
        });
    }
</script>

{% endblock %}