<html>
    <head>
        <title>PDF</title>
    </head>
    <style>
        body {
            font-weight: 200;
            font-size: 14px;
        }
        .header {
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            padding-top: 20px;
            color: #2F2F92;
            font-size: 16px;
        }
        table {
            table-layout: auto;
        }
        th {
            text-align: center;
            border: 2px solid #000000; 
            padding-top: 5px;
            background-color: #7569DA;
            color: white;
            width: auto !important;
            font-size: 18px;
        }
        td {
            text-align:center; 
            border: 2px solid #000000; 
            padding-top: 5px;
            width: auto !important;
            font-size: 16px;
        }

        h1 {
            font-size: 22px;
        }

        h2 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }

        li {
            font-size: 16px;
        }

        p {
            font-size: 16px;
        }
    </style>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <h1 style="font-size: 26px;">{{ tourn.name }} Schedule</h1>
            </div>
            <hr>
            <h2 style="text-align: center;">{{ tourn.date|date:"l jS F o" }} - {{ tourn.venue }}</h2>
        </div>
        {% if tourn.splitDivs %}
            {% for division in divisions %}
                {% if tourn.knockoutRounds != "None" and forloop.last %}
                    <h2>Playoffs</h2>
                {% else %}
                    <h2>Division {{ forloop.counter }}</h2>
                {% endif %}
                <div class="overflow-auto">
                    <table class="overflow-auto" style="border: 1px solid;">
                        <thead>
                            <tr>
                                <th scope="col" id="time" style="text-align:center; border: 1px solid;">Time</th>
                                {% for name in division.pitches %}
                                    <th style="text-align:center; border: 1px solid;">{{ name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in division.schedule %}
                                <tr class="float-container">
                                    {% for match in row %}
                                        {% if forloop.counter0 == 0 %}
                                            <td scope="row" style="text-align:center; border: 1px solid;">
                                                {{ match.start|time:"H:i" }} - {{ match.end|time:"H:i"}}
                                            </td>
                                        {% else %}
                                            {% if match.entryOne == match.entryTwo %}
                                                {% if match.type != "Division" and match.type != "Free" %}
                                                    <td class="float-child" id="{{ match.id }}" style="text-align:center; border: 1px solid; background-color: lavender;">{{ match.type }}</td>
                                                {% else %}
                                                    <td class="float-child" id="{{ match.id }}" style="text-align:center; border: 1px solid;"></td>
                                                {% endif %}
                                            {% elif match.division == 1 %}
                                                <td style="text-align:center; border: 1px solid; background-color: #D3BFE8;">{{ match }}</td>
                                            {% elif match.division == 2 %}
                                                <td style="text-align:center; border: 1px solid; background-color: #ADD8E6;">{{ match }}</td>
                                            {% elif match.division == 3 %}
                                                <td style="text-align:center; border: 1px solid; background-color: #C1E1C1;">{{ match }}</td>
                                            {% elif match.division == 4 %}
                                                <td style="text-align:center; border: 1px solid; background-color: #FDF1B4;">{{ match }}</td>
                                            {% elif match.type != 'Division' %}
                                                <td class="float-child" id="{{ match.id }}" style="text-align:center; border: 1px solid; background-color: lavender;">{{ match.type }}</td>
                                            {% else %}
                                                <td style="text-align:center; border: 1px solid; background-color: lavender;">{{ match }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div>
                    <ul>
                        {% if division.timings.matchType == "One Way" %}
                            <li><b>Match Timings</b>: {{division.timings.matchDuration}} mins one way - {{division.timings.breakDuration}} mins between matches</li>
                        {% else %}
                            <li><b>Match Timings</b>: {{division.timings.matchDuration}} mins each way - {{division.timings.halftimeDuration}} mins half time - {{division.timings.breakDuration}} mins between matches</li>
                        {% endif %}
                    </ul>
                </div>
                <br>
                <hr>
            {% endfor %}
        {% else %}
            <div class="overflow-auto">
                <table class="overflow-auto" style="border: 1px solid;">
                    <thead>
                        <tr>
                            <th scope="col" id="time" style="text-align:center; border: 1px solid;">Time</th>
                            {% for pitch in pitches %}
                                <th style="text-align:center; border: 1px solid;">{{ pitch.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in schedule %}
                            <tr class="float-container">
                                {% for match in row %}
                                    {% if forloop.counter0 == 0 %}
                                        <td scope="row" style="text-align:center; border: 1px solid;">{{ match.start|time:"H:i" }} - {{ match.end|time:"H:i"}}</td>
                                    {% else %}
                                        {% if match.entryOne == match.entryTwo %}
                                            {% if match.type != "Division" and match.type != "Free" %}
                                                <td class="float-child" id="{{ match.id }}" style="text-align:center; border: 1px solid; background-color: lavender;">{{ match.type }}</td>
                                            {% else %}
                                                <td class="float-child" id="{{ match.id }}" style="text-align:center; border: 1px solid;"></td>
                                            {% endif %}
                                        {% elif match.division == 1 %}
                                            <td style="text-align:center; border: 1px solid; background-color: #D3BFE8;">{{ match }}</td>
                                        {% elif match.division == 2 %}
                                            <td style="text-align:center; border: 1px solid; background-color: #ADD8E6;">{{ match }}</td>
                                        {% elif match.division == 3 %}
                                            <td style="text-align:center; border: 1px solid; background-color: #C1E1C1;">{{ match }}</td>
                                        {% elif match.division == 4 %}
                                            <td style="text-align:center; border: 1px solid; background-color: #FDF1B4;">{{ match }}</td>
                                        {% elif match.type != 'Division' %}
                                            <td class="float-child" id="{{ match.id }}" style="text-align:center; border: 1px solid; background-color: lavender;">{{ match.type }}</td>
                                        {% else %}
                                            <td style="text-align:center; border: 1px solid; background-color: lavender;">{{ match }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            <div>
                <ul>
                    {% if timings.matchType == "One Way" %}
                        <li><b>Match Timings</b>: {{timings.matchDuration}} mins one way - {{timings.breakDuration}} mins between matches</li>
                    {% else %}
                        <li><b>Match Timings</b>: {{timings.matchDuration}} mins each way - {{timings.halftimeDuration}} mins half time - {{timings.breakDuration}} mins between matches</li>
                    {% endif %}
                </ul>
            </div>
            <br>
            <hr>
        {% endif %}
        <div>
            <h4><u>Extra timing information:</u></h4>
            <ul>
                <li>This event will be <b>{{ timed }}</b></li>
                {% for timing in timingsExtra %}
                    <li>{{ timing }}</li>
                {% endfor %}
            </ul>

            <h4><u>Event rules:</u></h4>
            <ul>
                {% for rule in rules %}
                    <li>{{ rule }}</li>
                {% endfor %}
            </ul>
            {% if tourn.notes %}
                <h4><u>Notes:</u></h4>
                <p>{{ tourn.notes|linebreaks }}</p>
            {% endif %}
        </div>
    </body>
</html>