{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block container %}
<div class="grid" id="box">
    <div class="grid">
        <h2>
            Schedule <a style="color: inherit; text-decoration: inherit;" href="{% url 'user-tourn-detail' object.id %}";>{{ object }}</a>
        </h2>
        <hgroup>
            <h4 style="text-align: center; margin-bottom:5px;">Step 2/4</h4>
            <progress value="50" max="100" />
        </hgroup>
    </div>
</div>
<br>
<div id="box">
    <div class="grid">
        <hgroup>
            <h3>2. Tournament Info</h3>
            <p>        
                <i class="fa-solid fa-circle-info"></i>
                <span>
                    <b>Update form below then click 'Next' to continue</b>
                </span>
            </p> 
        </hgroup>
        <article>
            Entries: <b>{{ object.noTeams }}</b>
            <br>
            Divisions: <b>{{ object.noDivisions }}</b>
        </article>
    </div>
    <hr>
    <form method="POST">      
        {% csrf_token %}    
        <fieldset>
            <h4>Pitches</h4>
            <hr>
            <div class="grid">
                <fieldset id="noPitches">{{ form.noPitches|as_crispy_field }}</fieldset>
            </div>
            <hr>
            <h4>Timings</h4>
            <hr>
            <div class="grid">
                {{ form.startTime|as_crispy_field }}
                {{ form.endTime|as_crispy_field }}
                {{ form.matchType|as_crispy_field }}
            </div>
            <hr>
            <h4>Knockouts</h4>
            <hr>
            <div>
                {{ form.knockoutRounds|as_crispy_field }}
            </div>
            <article>
                <p>No knockout options are available for three divisions.</p>
                <p>Just 'Final' option cannot be selected for four divisions.</p>
            </article>
            <hr>
            <h4>Extra</h4>
            <hr>
            <div class="grid">
                {{ form.liveScores|as_crispy_field }}
                {{ form.umpires|as_crispy_field }}
                {{ form.splitDivs|as_crispy_field }}
            </div>
        </fieldset>
    </div>
    <br>
        <div class="form-group">
            <input type="button" value="Generate" data-target="modal-wait" onclick="submit(); toggleModal(event);"/>
        </div>    
    </form>

<!--Loading Dialog-->
<dialog id="modal-wait">
    <article>
        <header>
        <h3>Your matches are being generated</h3>
        <hr>
        <p>Max Wait Time: 15 Seconds</p>
        </header>
        <progress />
    </article>
</dialog>  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "js/modal.js" %}"></script>
<script>
    document.getElementById("noPitches").addEventListener("change",function(e) {
        var noPitches = e.target.value;
        var id = {{ object.id }};
        
        $.ajax({
            method: 'GET',
            dataType: 'json',
            url: `/pitches-change/`,
            data: {'pitches': noPitches,
                    'id': id,
                }
        });
    });
</script>

{% endblock %}


