{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block container %}
    <div class="container" id="box">
        <div class="grid">
            <h2>
                Schedule {{ tourn }}
            </h2>
            <hgroup>
                <h4 style="text-align: center; margin-bottom:5px;">Step 3/4</h4>
                <progress value="75" max="100" />
            </hgroup>
        </div>
    </div>
    <br>
    <div id="box">
        <hgroup>
            <h3>3. Customise PDF</h3>
            <p>        
                <i class="fa-solid fa-circle-info"></i>
                <span>
                    <b>Make sure to click update button in the section you edited</b>
                </span>
            </p> 
        </hgroup>
        <form method="POST" id="form">      
            {% csrf_token %}    
            <fieldset>
                <hr>
                <h3>Pitch Names</h3>
                <hr>
                {% for field in form.get_pitch_fields %}
                    <div>
                        <p>Pitch {{ forloop.counter }} Name</p>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="secondary">Update</button>
            </div>
                <br>
                <div class="grid">
                    <div id="box">
                        <h3>Timings</h3>
                        <hr>
                        {{ form.timed|as_crispy_field }}
                        <p>Extra Timings</p>
                        {% for field in form.get_timing_fields %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit" class="secondary">Update</button>
                    </div>
                    <div id="box">
                        <h3>Rules</h3>
                        <hr>
                        {% for field in form.get_rule_fields %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit" class="secondary">Update</button>
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="grid">
                <a href="{% url 'drag-drop' tourn.id %}" role="button" style="width: 100%;">Next</a>
            </div>  
        </form>
    </div>
{% endblock %}


