{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block container %}
    <div class="container" id="box">
        <div class="grid">
            <h2>
                Schedule {{ tourn }}
            </h2>
            <hgroup>
                <h4 style="text-align: center; margin-bottom:5px;">Step 4/4</h4>
                <progress value="100" max="100" />
            </hgroup>
        </div>
    </div>
    <br>
    <div id="box">
        <hgroup>
            <h3>4. Customise PDF</h3>
            <p>        
                <i class="fa-solid fa-circle-info"></i>
                <span>
                    <b>Make sure to click update button in the section you edited</b>
                </span>
            </p> 
        </hgroup>
        <form method="POST" id="form">      
            {% csrf_token %}    
            <fieldset>
                <hr>
                <h3>Pitch Names</h3>
                <hr>
                {% for field in form.get_pitch_fields %}
                    <div>
                        <p>Pitch {{ forloop.counter }} Name</p>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="secondary">Update</button>
            </div>
                <br>
                <div class="grid">
                    <div id="box">
                        <h3>Timings</h3>
                        <hr>
                        {{ form.timed|as_crispy_field }}
                        <p>Extra Timings</p>
                        {% for field in form.get_timing_fields %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit" class="secondary">Update</button>
                    </div>
                    <div id="box">
                        <h3>Rules</h3>
                        <hr>
                        {% for field in form.get_rule_fields %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit" class="secondary">Update</button>
                    </div>
                </div>
            </fieldset>
            <hr>
            <div class="grid">
                <button class="primary" data-target="modal-finish" onclick="toggleModal(event)">Finish</button>
            </div>  
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "js/drag-drop.js" %}"></script>

    <dialog id="modal-finish">
        <article>
            <header>
                <h3>Successfully scheduled tournament!</h3>
            </header>
            <p>Your schedule is now ready to be viewed and published.</p>
            {% if tourn.umpires == True %}
                <div class="grid">
                    <a role="button" class="outline" href="{% url 'pdf' tourn.id %}" target="_blank">Main <i class="fa-solid fa-file-pdf"></i></a>
                    <a role="button" class="outline" href="{% url 'umpire-pdf' tourn.id %}" target="_blank">Umpire <i class="fa-solid fa-file-pdf"></i></a>
                </div>
            {% else %}
                <div class="grid">
                    <a role="button" class="outline" href="{% url 'pdf' tourn.id %}" target="_blank">View <i class="fa-solid fa-file-pdf"></i></a>
                </div>
            {% endif %}
            <footer>
                <a role="button" class="secondary outline" href="{% url 'user-tourn-detail' tourn.id %}";>&larr; Tournament Page</a>
                <a role="button" class="secondary outline" href="{% url 'entry_assign_div' tourn.id %}";>Reschedule</a>
            </footer>
        </article>
    </dialog>  
{% endblock %}


