{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block container %}  
    <style>
        #fourdouble {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        #triple {
            grid-template-columns: 1fr 2fr;
        }
        #double {
            grid-template-columns: 1fr 1fr;
        }
        #doubleCollapse {
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
        }
        @media (width < 50em) {
            #fourdouble {
                grid-template-columns: 1fr 1fr;
            }
            #doubleCollapse {
                grid-template-columns: 1fr;
                column-gap: 0px;
            }
            #triple {
                grid-template-columns: 1fr;
            }
        }
    </style>            
    <div class="container" id="box">
        <h2>
            {% if return == 'account' %}
                <i onClick="location.href='{% url 'account' %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i> 
            {% else %}
                <i onClick="location.href='{% url 'user-tourn-detail' return %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i> 
            {% endif %}
            
            {{ title }}
        </h2>
        <hr>
        <form method="POST">      
            {% csrf_token %}    
            <fieldset>
                <h4>Info</h4>
                <div>
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="grid" id="fourdouble">
                    {{ form.age|as_crispy_field }}
                    {{ form.gender|as_crispy_field }}
                    {{ form.level|as_crispy_field }}
                    {{ form.group|as_crispy_field }}
                </div>
                <hr>
                <h4>Timings</h4>
                <div class="grid" id="triple">
                    {{ form.date|as_crispy_field }}
                    <div class="grid" id="double">
                        {{ form.meetTime|as_crispy_field }}
                        {{ form.startTime|as_crispy_field }}
                    </div>
                </div>
                <hr>
                <h4>Logistics</h4>
                <div class="grid" id="double">
                    {{ form.venue|as_crispy_field }}
                    {{ form.noPitches|as_crispy_field }}
                </div>
                <hr>
                <h4>Entry Fee</h4>
                <div role="group">
                    <input disabled style="width: 52px; color: black;" value="£"/>
                    {{ form.entryPrice }}
                </div>
                {{ form.vat|as_crispy_field }}
                <hr>
                <h4>Event Notes & Add-ons</h4>
                <div class="grid" id="doubleCollapse">
                    {{ form.notes|as_crispy_field }}
                    <div>
                        <p>Add-ons</p>
                        {{ form.liveScores|as_crispy_field }}
                        {{ form.umpires|as_crispy_field }} 
                        {{ form.teamsheets|as_crispy_field }}                       
                    </div>
                </div>
                <hr>
            </fieldset>
            <div class="form-group">
                <button type="submit">Save</button>  <!--Enter button-->
            </div>  
        </form>
    </div>
{% endblock %}

