{% extends "base.html" %}
{% load static %}
{% load django_tables2 %}
{% block container %}
    <div id="box">
        <hgroup>
            <h2>
                {% if user == userInput %}
                    <i onClick="location.href='{% url 'account' %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i>
                    {{ user }}'s Entries
                {% else %}
                    <i onClick="location.href='{% url 'user-list' %}';" class="fa-solid fa-circle-arrow-left" id="icon"></i>
                    {{ userInput }}'s Entries
                {% endif %}
                <span style="float:right; align-items:center;">
                <div class="grid" style="margin-bottom: 15px; text-align:center; align-items:center;">
                    <form method="get" id="season-form" style="display:inline-block;">
                        <select name="season" id="season" class="form-select d-inline-block" style="width:auto; display:inline-block;">
                            <option value="All" {% if season == "All" %}selected{% endif %}>All</option>
                            {% for s in seasons %}
                                <option value="{{ s }}" {% if s == season %}selected{% endif %}>{{ s }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>                
            </span>
            </h2>
        </hgroup>
    </div>
    <br>
    <div id="box">
        <div class="grid">
            <article style="text-align: center;">No. Entries = {{ entries }}</article>
            <article style="text-align: center;">Uninvoiced =  £{{ owing }}</article>
            <article style="text-align: center;">Invoiced =  £{{ invoiced }}</article>
            <article style="text-align: center;">Total =  £{{ total }}</article>
        </div>
        <hr>
        <article>
            <div class="overflow-auto">
                {% include 'orders/include/order_table.html' %}
            </div>
        </article>
    </div>
    <script>
        document.getElementById("season").addEventListener("change", function() {
            document.getElementById("season-form").submit();
        });
    </script>
{% endblock %}